@import 'mixin.scss';
@import 'var.scss';

.p-changePassword {
  padding: 30px 15px;
  
  form {
    width: 70%;
    margin: 50px auto 0;
  }
  .form-group {
    margin-bottom: 45px;
    label {
      display: inline-block;
      min-width: 200px;
      text-align: right;
      margin-right: 50px;
      font-size: 1.6rem;
      flex: 1;
    }
    &__item {
      width: 100%;
    }
  }
  .form-action {
    text-align: center;
    // .c-btn {
    //   font-size: 1.6rem;
    //   padding: 13px 40px;
    // }
  }
  .help-text {
    margin-top: 5px;
  }
  //=============
  .c-textField {
    border-radius: 3px;
  }
}