@import 'var.scss';
@import 'mixin.scss';

.p-forgotPassword {
  background: url("/images/forgot-password/bg_body.png");
  min-height: 100vh;
  &__top {
    
    padding: 40px 50px 20px;
    text-align: center;
    border-bottom: 2px solid $cl-blue2;
    h1 {
      margin-top: 20px;
    }
  }
  &__content {
    background-color: $cl-gray2;
    padding: 45px 50px 90px;
    .c-title1 {
      font-size: 1.8rem;
    }
  }
  //=============
  .form {
    &__content {
      background-color: #fff;
      padding: 50px 30px;
    }
    &__action {
      margin-top: 70px;
      text-align: center;
    }
    &__field {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    //=============
    .label {

    }
    .input {
      max-width: 350px;
      flex: 1;
    }
  }
  
  //=============
  .help-text {
    line-height: 1.75;
    margin: 30px 15px;
  }
  //=============
  .c-textField {
    
  }
  //=============
  .c-btn {
    padding: 15px 50px;
    border-radius: 0;
    border-bottom: 2px solid $cl-gray3;
  }
  //=============
  .is-required {
    margin-right: 5px;
  }
}
