$cl-red1: #E73828;
$cl-red2: #c62a44;
$cl-red3: #F44336;
$cl-red4: #C43540;
$cl-red5: #db4437;
$cl-red6: #bf5650;
$cl-red7: #613c3c;

$cl-gray1: #888888;
$cl-gray2: #f2f2f2;
$cl-gray3: #424242;
$cl-gray4: #757575;
$cl-gray5: #7f7f7f;
$cl-gray6: #4b4b4b;
$cl-gray7: #666666;
$cl-gray8: #939393;
$cl-gray9: #c3c3c3;
$cl-gray10: #d3d3d3;
$cl-gray11: #545454;
$cl-gray12: #9b9da0;
$cl-gray13: #8d8d8d;
$cl-gray14: #aaaaaa;
$cl-gray15: #7e7e7e;
$cl-gray16: #808080;
$cl-gray17: #a0a0a0;
$cl-gray18: #626262;

$cl-back1: #231815;

$cl-green1: #52a25d;
$cl-green2: #569781;

$cl-blue1: #0066b4;
$cl-blue2: #0066B2;
$cl-blue3: #298bc2;
$cl-blue4: #356492;
$cl-blue5: #4c79a1;
$cl-blue6: #458cff;
$cl-blue7: #356794;
$cl-blue8: #6289ac;
$cl-blue9: #436f97;
$cl-blue10: #2A86EC;